
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index:1000;
}

.modal-content {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    box-shadow: 10px 10px 20px 5px black;
}

.modal-content2 {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/modal_background.jpg);
}

.dashpage {
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
    background-image: url(/modal_background.jpg);
}

.navbar-toggler {
    color: white;
}

i {
    padding-top: 8%;
}

span {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    height: 100%;
}